<div class="panel panel-info">
    <div class="panel-heading">Account profile</div>
    <div class="panel-body">
        <form role="form" method="post">
            <div class="form-group">
                <label class="control-label" for="inputLogin">Login</label>
                <input type="text" class="form-control" id="inputLogin" name="login" disabled="disabled">
                <p class="help-block">Your user login. You cannot edit it.</p>
            </div>

            <div class="form-group">
                <label class="control-label" for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter email">
                <p class="help-block">Put your email here (johndoe@montpellier.fr)</p>
            </div>

            <div class="form-group">
                <label class="control-label" for="inputPassword1">Password</label>
                <input type="password" class="form-control" id="inputPassword1" name="password1" placeholder="Password">
                <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="Password confirmation">
                <p class="help-block">Put your password twice here</p>
            </div>

            <!--
            <div class="form-group">
                <label class="control-label" for="exampleInputFile">File</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            -->

            <div class="form-group">
                <label class="control-label" for="inputNbConnect">Connection count</label>
                <input type="text" class="form-control" id="inputNbConnect" disabled="disabled">
                <p class="help-block">Number of time that you sign in on the blog.</p>
            </div>

            <button type="submit" class="btn btn-default">Update details</button>
        </form>

    </div>
</div>